.hosco-sign-in-container {  
background-color: #1398C2;
  height: 2.5rem;
  width: 12.5rem;
  display: flex;
  border-radius: 0.2rem;
}

.hosco-sign-in-container:hover {
  background-color: #115c87;
}

.hosco-sign-in-btn {
  width: 12.5rem;
  padding: 0.125rem;
  background-color: #1398C2;
  border-radius: 0.2rem;
}


.hosco-sign-in-btn:hover {
  background-color: #115c87;
}

.hosco-sign-in-logo {
  width: 2.375rem;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hosco-sign-in-text-container {
  padding: 	0.625rem 0 0.625rem 0.9375rem;
}

.hosco-sign-in-link {
  text-decoration: none;
  color: #ffffff;
}

.hosco-sign-in-text {
  font-family: "Open Sans";
  font-weight: "semibold";
  font-size: 0.875rem;
}